<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Custom styles for this template -->
    <link href="../static/assets/css/simple-sidebar.css" rel="stylesheet">

</head>
<body>

    <!-- Set of navigation fragments, need to be included-->

    <!-- Sidebar -->
    <div th:fragment="sidebar">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading py-3 pl-4">Semantic Browser</div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Queries</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Browse</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Endpoints</a>
            </div>
        </div>
    </div>

</body>
</html>